/* The device with borders */
.smartphone {
    position: relative;
    width: 382px;
    height: 660px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }
  
  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }
  
  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 50%;
    cursor: pointer;
}

  /* The screen (or content) of the device */
  .smartphone .content {
    width: 351px;
    height: 540px;
    margin-left: -12px;
    background: white;
  }


  iframe {
    width:100%;
    border:none;
    height:100%;
  }