.heading {
    font-family: Product Sans Bold;
    font-size: 70px;
    color: #14213D;
}

.subHeading {
    color: #14213D;
}

.para {
    font-size: 30px;
}


.row-1 {
    padding: 0px 20px;
}

.introImg {
    width: 100%;
}

.myBtn {
    padding: 15px 20px;
    border: 5px solid #4F596E;
}
.myBtn:hover {
    background-color: #14213D;
    border: 5px solid #14213D;
    color: white;
}

@media only screen and (max-width: 990px) {
    .heading {
        font-size: 50px;
    }
    
    .subHeading {
        color: #14213D;
    }
    
    .para {
        font-size: 20px;
    }
}